div{
    border-width: 5px;
}

.container{
    border-style: solid;
    border-color: black;
    padding: 20px;
}

.row{
    border-style: solid;
    border-color: purple;
    padding: 5px;
}

.col-xs-6{
    border-style: none;
    border-color: darkgreen;
    padding-right: 10px;
}
.col-xs-3{
    border-style: solid;
    border-color: darkgreen;
    padding: 30px;
}

.col-xs-1{
    border-style: solid;
    border-color: darkgreen;
    padding-right: 30px;
}

.col-xs-2{
    border-style: solid;
    border-color: darkgreen;
    padding: 2px;
}

.col-xs-4{
    border-style: solid;
    border-color: black;
    margin-left: 50px;
}